@page
@model Pie.Areas.Identity.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.Email)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
    </dl>
</div>
<div class="card" style="width: 118mm; height: 75mm">
    <div class="card-header ">
        <h4><span>@Model?.AppUser?.FirstName </span> <span> @Model?.AppUser?.LastName </span></h4>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center">
        <img src=@($"data:image/jpeg;base64,{@Model?.AppUser?.Barcode}") width="350" height="100" alt="штрих код" />
    </div>
    <div class="card-footer">
        <span>Склад: </span> <span> </span>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AppUser.Id">Изменить</a> |
    <a asp-page="./Index">Назад к списку</a>
</div>
