@page
@model Pie.Areas.Identity.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Пользователи";
}

<h2>Пользователи</h2>
<form>
    <div class="form-group mb-2">
        <div class="row">
            <div class="col-auto">
                <select asp-for="WarehouseId" class="form-control"
                        asp-items="@Model.WarehouseSL">
                    <option value="@Guid.Empty">- Все -</option>
                    <option value="">- Склад не указан -</option>
                </select>
            </div>
            <div class="col-auto"><input class="btn btn-primary" type="submit" value="Поиск" /></div>
            <div class="col-auto"><a class="btn btn-primary" asp-page="/Users/Register">Создать</a></div>
        </div>        
    </div>
</form>
@* <p>
    <a asp-page="/Users/Register">Создать</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Roles)*@
                    @if (item.Roles != null)
                    {
                        @foreach (var role in item.Roles)
                        {
                            <span> @role </span>
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                    @*<a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
