@using Pie.Data.Models.Out;
<div>
    @*<QuickGrid Items="@(doc?.Products?.AsQueryable<DocOutProduct>())" Class="table table-bordered table-hover">*@
    <QuickGrid Items="@FilteredProducts" Class="table table-bordered table-hover">
        <PropertyColumn Property="@(p => p.LineNumber)" Title="№" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(p => p.Product != null ? p.Product.Name : string.Empty)" Title="Товар" Sortable="true">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Название..." />
                </div>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Property="@(p => p.Weight)" Title="Вес" Sortable="true" />
        <PropertyColumn Property="@(p => p.CountPlan)" Title="Кол план" Sortable="true"></PropertyColumn>
        @*<PropertyColumn Property="@(p => p.CountFact)" Title="Кол-во факт" Sortable="true"></PropertyColumn>*@
        <TemplateColumn Title="Кол факт" Class="p-0 m-0">
            <div class="@(context.CountFact == context.CountPlan ? string.Empty : "alert  alert-warning") m-0 p-2">
                @{
                    string? detail = ChangeReasons?.FirstOrDefault(c => c.Id == context.ChangeReasonId)?.Name;
                    detail = string.IsNullOrEmpty(detail) ? string.Empty : $@"    ( {detail} ) ";
                }
                @context.CountFact @detail
            </div>
        </TemplateColumn>
        @if (DocVm?.Value?.Status?.CanChange ?? false)
        {
            <TemplateColumn Title="Изменить" Class="d-print-none">
                <button class="btn btn-outline-primary" @onclick="@(() => EditDoc(context))"><i class="bi bi-pencil-square"></i></button>
            </TemplateColumn>
        }        
    </QuickGrid>
</div>

<EditDialog @ref="EditDialog" ChangeReasons="@ChangeReasons" OnSaveChanges="@UpdateDoc"></EditDialog>

@code {
    [Parameter] public DocOutVm? DocVm { get; set; }
    [Parameter] public List<ChangeReasonOut>? ChangeReasons { get; set; }
    private EditDialog? EditDialog { get; set; }
    private bool? canChange;

    string? nameFilter;
    IQueryable<DocOutProduct>? FilteredProducts
    {
        get
        {
            var result = DocVm?.Value?.Products?.AsQueryable();

            if (!string.IsNullOrEmpty(nameFilter))
            {
                result = result?.Where(p => 
                    p.Product != null && p.Product.Name != null && p.Product.Name.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            }
            return result;
        }
    }

    private void EditDoc(DocOutProduct product)
    {
        EditDialog?.Open(product);
    }

    private void UpdateDoc()
    {
        EditDialog?.Close();
    }
}
