@page
@model Pie.Areas.Config.Pages.QueuesOut.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QueueOut</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueueOut.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueueOut.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueueOut.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueueOut.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueueOut.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueueOut.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.QueueOut.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
