@page
@model Pie.Areas.History.Pages.DocsOut.DetailsModel

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>История документа</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocOutHistory.Doc)
        </dt>
        <dd class="col-sm-10">
            <a href="/DocsOut/Item/@Model.DocId">
                @Html.DisplayFor(model => model.DocOutHistory.Doc.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocOutHistory.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocOutHistory.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocOutHistory.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocOutHistory.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocOutHistory.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocOutHistory.Status.Name)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.DocOutHistory.Id">Edit</a> |*@
    <a asp-page="./Index" asp-route-docId="@Model.DocId">Назад к списку</a> |
    <a href="/DocsOut/Item/@Model.DocId">К документу</a>
</div>
