@page
@model Pie.Areas.History.Pages.DocsOut.IndexModel

@{
    ViewData["Title"] = "История расходников";
}

<h2>История расходников</h2>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по наименованию:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Поиск" class="btn btn-primary" /> |
            <a asp-page="./Index">Сбросить поиск</a> |
            @if (@Model.DocId != null)
            {
                <a href="/DocsOut/Item/@Model.DocId" title="Открыть документ">Открыть документ</a>
            }
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocHistory[0].DocName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocHistory[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocHistory[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocHistory[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DocHistory)
        {
            <tr>
                <td>                    
                    <a asp-page="./Index" asp-route-docId="@item.DocId" title="Выбрать">
                        @Html.DisplayFor(modelItem => item.DocName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-page="./Details" asp-route-docId="@item.DocId" asp-route-id="@item.Id">Подробно</a> @*|*@
                    @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.DocProductHistory != null)
{
    <h3>История товаров этого расходника</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].DocName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].LineNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].CountPlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].CountFact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocProductHistory[0].ChangeReason)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DocProductHistory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountPlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountFact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeReason.Name)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-page="./Products/Details" asp-route-id="@item.Id">Подробно</a> |*@
                        @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
